@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #FFD7A1, #FFF);
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    padding: 40px 60px;
}

.dashboard {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    justify-content: center;
}

.left-panel {
    flex: 2;
}

.top-section {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-bottom: 25px;
}

.expense-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.total_expense {
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    color: black;
}