* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #647B7D;
    background-color: #7EF1FC;
}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient( 180deg, #F4C089 0%, #F7D7B3 15%, #FBF2E8 35%, #FFFFFF 60%);
}

#root {
    min-height: 100vh;
}