@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&display=swap');
.app {
    min-height: 100vh;
    position: relative;
}

.app-title {
    font-family: 'Playfair Display', serif;
    text-align: center;
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
    color: black;
}

.bank-image {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 23%;
    left: 10%;
}

.total_expense {
    font-family: 'Playfair Display', serif;
    text-align: center;
    position: absolute;
    top: 26%;
    left: 24%;
    transform: translateX(-50%);
    color: black;
}

.add-button {
    position: absolute;
    left: 19%;
    top: 30vh;
    display: block;
}